<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>

		{% include header.html %}
				
<content id='posts'>

	{{ content }}
	{% assign category = page.url | remove:'/' %}
	{% for post in site.categories.[category] %}

	<a href="{{ post.url }}">
	<li class="blogPosts">

	  <i class="fa fa-{{ post.icon }}"></i>

		<div class="r">
		  <span>{{ post.date | date_to_string }}</span> <br> <p>{{ post.title }}</p>
		</div>
	</li></a>

	{% endfor %}

</content>
			
		{% include footer.html %}
		
	</body>
	
</html>

